html{
    font-size: 15px;
    font-family:'Open Sans' sans-serif;
    background-color: black;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: blanchedalmond;
    text-shadow: 3px 3px 1px black;
}
body {
    width: 1300px;
    margin: 0 auto;
    background-color:black  
}
p, li{
    font-size: 18px;
    line-height: 3;
    letter-spacing: 5;
    color:white;
    text-shadow: 3px 3px 3px black;
} 
img {
    display: block;
    margin: 0 auto;
}
.container img { max-width: 1300px; } /*Casa viking*/
